@mixin centerXY {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.wrapper {
  display: flex;
  width: 100vw;
  max-width: 1920px;
  height: 100vh;
  font-family: kakaoBig;
  background: #FAEC7E;
  overflow: hidden;
  
  >div {
    width: 100%;
    height: 100%;

    &.left {
      position: relative;
      .wrapBox {
        @include centerXY;
        width: clamp(400px, 30.15625vw, 579px);
        height: clamp(400px, 32.96875vw, 633px);

        >div {
          position: absolute;
          border-radius: 25px;
          width: 100%;
          height: 100%;
          overflow: hidden;
          box-shadow: 0 5px 10px 0px #00000062;

          >img {
            width: 100%;
            height: 100%;
            object-fit: cover
          }
          &.box1 {
            @include centerXY;
            
            width: calc(320px / 579px * 100%);
            height: 71.09004739336493%;
          }
          &.box2 {
            left: 0;
            top: calc(150px / 633px * 100%);
            width: calc(207px / 579px * 100%);
            height: calc(300px / 633px * 100%);
          }
          &.box3 {
            right: 22px;
            top: 0;
            width: calc(207px / 579px * 100%);
            height: calc(300px / 633px * 100%);
          }
          &.box4 {
            right: 0;
            bottom: 0;
            width: calc(207px / 579px * 100%);
            height: calc(280px / 633px * 100%);
          }
        }
      }
    }
    &.right {
      display: flex;
      justify-content: center;
      align-items: center;

      .wrapText {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        >h3 {
          font-size: 70px;
        }
        >p {
          width: 405px;
          text-align: center;
          font-size: 30px;
        }
        >.button {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 80px;
          height: 50px;
          border-radius: 25px;
          font-size: 1rem;
          color: #fff;
          background: #0057AD;
          cursor: pointer;
        }
      }
    }
  }
}
@media (max-width:768px) {
  .wrapper {
    flex-direction: column;
    >div {
      &.right {
        .wrapText {
          >h3 {

          }
        }
      }
    }
  }
}