.info {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  // min-height: 969px;
  background: #fff;

  .wrapText {
    position: relative;
    width: 80%;
    height: 95%;
    margin-top: 5rem;
    overflow: hidden;

    h2 {
      font-size: 7.5rem;
      font-family: kakaoBig;
      font-weight: 700;
      margin-bottom: clamp(100px, 8.333vw, 160px);
      /* transform: translateX(-55%); */
      color: #1B1B1B;
      /* opacity: 0; */
      &.active {
        opacity: 1;
        transform: translateX(0);
        transition: opacity 1.5s ease-out, transform 1s ease-out;
      }
    }

    p {
      font-size: clamp(32px, 2.6042vw, 50px);
      font-family: kakaoBig;
      font-weight: 700;
      text-align: right;
      /* transform: translateX(60%); */
      color: #1B1B1B;
      /* opacity: 0; */
      &.active {
        transition: opacity 1.5s ease-out, transform 1s ease-out;
        opacity: 1;
        /* transform: translateX(0); */
      }
    }
    .wrapButtons {
      position: absolute;
      bottom: 20%;
      left: 0;
      display: grid;
      gap: 1.25rem;
      grid-template-areas: 
                    'first .'
                    'second third';
      grid-template-columns: repeat(1, 200px);

      width: 100%;
      .button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 100px;
        border-radius: 20px;
        background: #0057AD;
        color: #fff;
        font-family: kakaoBig;
        font-size: 2rem;
        font-weight: bold;
        transition: .15s;
        &:hover {
          background: #006dda;
        }
        &.first {
          grid-area: first;
        }
        &.second {
          grid-area: second;
        }
        &.third {
          grid-area: third;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .info {
    min-height: 969px;
    .wrapText {
      h2 {
        font-size: 4rem;
        margin-bottom: 5rem;
        text-align: center;
        font-family: kakaoSmall;
        font-weight: 600;
      }
      p {
        font-size: 2rem;
        line-height: 2;
        font-family: kakaoBig;
        font-weight: 900;
        text-align: center;
      }
      .wrapButtons {
        left: 50%;
        bottom: 10%;
        transform: translateX(-50%);
        grid-template-columns: repeat(3,1fr);
        grid-template-areas: 'first . third'
                              '. second .'
                              '. . .';

        .button {
          height: 75px;
          width: 100%;

          font-size: 1.2rem;
        }
      }
    }
  }
}