.wrapper {
  position: relative;
  display: flex;
  width: 100vw;
  height: calc(100vh - 312.38px);
  background: #FAEC7E;
  >div {
    &.left{
      width: 100%;
      height: 100%;
      .wrapImg {
        height: 100%;
        >img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center center;
        }
      }
    }
    &.right {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 100%;
      .wrapText {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        font-family: kakaoBig;
        >h3 {
          font-size: 70px;
          color: #0057AD;
          width: 70%;
          text-align: center;
        }
        >p {
          width: 405px;
          text-align: center;
          font-size: 30px;
        }
        >.button {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 80px;
          height: 50px;
          border-radius: 25px;
          font-size: 1rem;
          color: #fff;
          background: #0057AD;
          cursor: pointer;
        }
      }
    }
  }
}
@media (max-width:768px) {
  .wrapper {
    flex-direction: column;
    height: 100vh;
    >div {
      &.left {
        border: 1px solid #000;
        .wrapText {
        }
      }
    }
  }
}