.EventBanner {
  position: relative;
  height: 808px;
  background: #fff;
  overflow: hidden;
}

.background {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  scale: 1.5;
  filter: blur(5px);
  transition: all .5s;
}

.wrapText {
  position: absolute;
  left: calc((100% - 61.125rem) / 2);
  top: 15%;
  transform: translateX(-50%);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  width: 37.875rem;
  height: 23.0625rem;
  color: #fff;
}

.wrapText h3 {
  font-family: KakaoBig;
  font-size: 3.125rem;
  font-weight: 700;
}

.wrapText p {
  font-family: KakaoBig;
  font-size: 1.875rem;
  font-weight: 700;
}

.wrapProgressBar {
  position: absolute;
  left: calc(((100% - 61.125rem) / 2) + 2.25rem);
  transform: translateX(-50%);
  bottom: 10%;

  width: 41.5rem;
  height: 2.5rem;

  /* background: #000; */
}
.wrapProgressBar .progressBackground {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: calc(100% - 4.5rem);
  height: 0.625rem;
  background: #ffffff60;
}
.wrapProgressBar .progressBackground .currentProgress {
  position: absolute;
  width: calc(100% / 4);
  height: 100%;
  background: #00000060;
  transition: width .5s;
}

.wrapProgressBar .wrapPauseButton {
  position: absolute;
  right: 0;
  width: 2.5rem;
  height: 2.5rem;
  background: #00000060;
}

.wrapImg {
  position: absolute;
  right: 3.15%;
  top: 50%;
  transform: translateY(-50%);
  width: 61.125rem;
  height: 45.8125rem;
  overflow: hidden;
}

.wrapImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all .5s;
}

.EventBanner .button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 3.75rem;
  height: 3.75rem;
}
.button.prevButton {
  left: 0;
}
.button.nextButton {
  right: 0;
}