footer {
  position: relative;
  background: #1E1E21;
  color: #fff;
  font-size: 1rem;
  font-family: kakaoSmall;
  padding: 68px 0;
  
  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 400px;
    max-width: 1500px;
    margin: 0 auto;

    // floor, title, desc common styles
    .firstFloor {
      padding-bottom: 50px;
    }
    .title {
      font-family: kakaoBig;
      font-size: 1.5624rem;
      text-decoration: underline;
      padding-bottom: 5px;
    }
      
    .desc {
      font-size: 1rem;
      font-family: kakaoSmall;
      line-height: 2;
    }
    
    .first {
      position: relative;
      
      .firstBottom {
        line-height: 1.6;
        
        form {
          position: absolute;
          right: 25px;
          bottom: 0;

          select {
            width: 120px;
            height: 40px;
            padding: 0 5px;
            background: #0057AD;
            color: #fff;
            font-family: kakaoSmall;
            font-size: 1rem;
            border-radius: 20px;

            option {
              width: 120px;
              background: #fff;
              color: #000;
              font-family: kakaoSmall;
              font-size: 1rem;
            }
            
          }
        }
      }
    }
    .second {
      .secondTop {
        display: flex;
        gap: 10px;
        text-decoration: underline;
      }
      .secondBottom {
        display: grid;
        grid-template-columns: repeat(2, auto);
      }
    }
  }
}
@media (max-width: 768px) {
  footer {
    padding: 30px 0;
    .wrapper {
      grid-template-columns: repeat(1, auto);
      column-gap: 400px;
      grid-template-rows: repeat(2, auto);
      justify-content: center;
      .firstFloor {
        font-size: .75rem;
      }
      .first {
        .firstBottom {
          font-size: .75rem;
          form {
            bottom: 70%;
          }
        }
      }
      .second {
        .desc {
          font-size: .75rem;
        }
        .title {
          font-size: 1.2rem;
        }
      }
    }
  }
}