@font-face {
  font-family: 'kakaoBig';
  src: url('./../../public/font/KakaoBig-Bold.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'kakaoSmall';
  src: url('./../../public/font/KakaoSmall-Light.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica';
  src: url('https://fonts.cdnfonts.com/css/helvetica-neue-5');
}
html {
  scroll-behavior: smooth;
}
body {
  position: relative;
  /* background: #000; */
}
.inner {
  width: 100%;
  max-width: 1500px;
}
.wrap-logo{
  width: 150px;
}
.wrap-logo > img {
  width: 100%;
  object-fit: cover;
}