.BestCategori {
  height: 749px;
  padding: 100px 0;
  background: #fff;
}

.wrapper {
  width: 1500px;
  margin: 0 auto;
  height: 100%;
  /* border: 1px solid #000; */
}

.wrapper h2 {
  text-align: center;
  color: #0057AD;
  font-family: kakaoBig;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.wrapCategoris {
  display: grid;
  grid-template-columns: repeat(7, auto);
  grid-auto-rows: 25rem;
  grid-gap: 4.09rem;

  margin-top: 3.44rem;
}
.wrapCategoris .categori {
  position: relative;
  overflow: hidden;
}
.wrapCategoris .categori img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(70%);
  transition: scale .5s;
}
.wrapCategoris .categori img:hover {
  scale: 1.5;
}
.wrapCategoris .categori .textWrap {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  pointer-events: none;
  
  height: 100%;

}
.wrapCategoris .categori .textWrap h3 {
  display: inline !important;
  
  writing-mode: vertical-lr;
  color: #FFF;
  text-shadow: 4px 8px #000;
  font-family: KakaoBig;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
}