@mixin centerXY {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.wrapper {
  position: relative;
  display: flex;
  width: 100vw;
  height: 100vh;
  &.active {
    >div {
      &.left {
        .wrapText {
          >h3 {
            animation: startGrid 1.5s .3s forwards;
          }
          >p {
            animation: startGrid 1.5s .4s forwards;
          }
          >.button {
            animation: startGrid 1.5s .5s forwards;
          }
        }
      }
      &.right {
        .wrapBox {
          >div {
            &.box1 {
              animation: startGrid 1.5s .5s forwards;
            }

          &.box2 {
            animation: startGrid 1.5s .6s forwards;
          }
          &.box3 {
            animation: startGrid 1.5s .7s forwards;
          }

          &.box4 {
            animation: startGrid 1.5s .8s forwards;
          }

          &.box5 {
            animation: startGrid 1.5s .9s forwards;
          }
            
          }
        }
      }
    }
  }
  >div {
    width: 100%;
    height: 100%;

    &.left {
      display: flex;
      justify-content: center;
      align-items: center;

      .wrapText {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        font-family: kakaoBig;
        >* {
          opacity: 0;
        }

        >h3 {
          font-size: clamp(50px, 3.6458vw, 70px);
          color: #0057AD;
          width: 70%;
          text-align: center;
        }

        >p {
          width: 405px;
          text-align: center;
          font-size: 30px;
        }

        >.button {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 80px;
          height: 50px;
          border-radius: 25px;
          font-size: 1rem;
          color: #fff;
          background: #0057AD;
          cursor: pointer;
        }
      }
    }

    &.right {
      position: relative;

      .wrapBox {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: clamp(400px, 36.927083333vw, 709px);
        height: clamp(400px, 39.947916667vw, 761px);

        >div {
          position: absolute;
          border-radius: 25px;
          overflow: hidden;
          box-shadow: 0 5px 10px 0px #00000062;
          opacity: 0;

          >img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          &.box1 {
            left: 0;
            top: 0;

            width: calc(400px / 709px * 100%);
            height: calc(400px / 761px * 100%);
          }

          &.box2 {
            right: 0;
            top: 0;
            width: calc(237px / 709px * 100%);
            height: calc(237px / 761px * 100%);
          }

          &.box3 {
            right: calc(78px / 709px * 100%);
            top: calc(284px / 761px * 100%);
            width: calc(187px / 709px * 100%);
            height: calc(187px / 761px * 100%);
          }

          &.box4 {
            right: 22px;
            bottom: 0;
            width: calc(243px / 709px * 100%);
            height: calc(243px / 761px * 100%);
          }

          &.box5 {
            left: calc(134px / 709px * 100%);
            bottom: calc(83px / 761px * 100%);
            width: calc(243px / 709px * 100%);
            height: calc(243px / 761px * 100%);
          }
        }
      }
    }
  }
}

@keyframes startGrid{
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes centerStart {
  from {
    opacity: 0;
    transform: translate(-50%, 0%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}


@media (max-width:768px) {
  .wrapper {
    flex-direction: column;

    >div {

      &.left {

        .wrapText {
          >h3 {
            font-weight: 600;
            font-family: kakaoSmall;
          }
          >p {
            font-size: 25px;
            font-weight: bold;
          }
        }
      }

    }
  }
}