/*font-size 5rem*/
.mainBanner {
  width: 100%;
  height: 100vh;
  min-height: 969px;
  
  .wrapBanner {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: -10;

    .wrapBackgroundContent {
      width: 100%;
      height: 100%;
      filter: brightness(60%);
      
      video {
        position: absolute;
        left: 0;
        top: 0;
        display: none;
        width: 100%;
        height: 100%;
        object-fit: cover;
        &.active {
          display: block;
        }
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .wrapText {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 5rem;
      font-weight: bold;
      text-align: center;
      color: #fff;
    }
  }
  
}

@media (max-width: 768px) {
  .mainBanner {
    .wrapBanner {
      .wrapText {
        text-align: center;
      }
    }
  }
}